body {
  font-family: "Inter Tight", system-ui;
  margin: 0;
  padding: 0;
  background-color: white; }

p,
a,
ul,
li,
ol {
  padding: 0;
  margin: 0; }

ul {
  list-style: none; }

/* Links
--------------------------------------------- */
a {
  text-decoration: none;
  color: #000000; }

a:hover {
  color: #ffffff; }

a:focus,
a:active {
  color: #191970; }

a:hover,
a:active {
  outline: 0; }

img {
  max-width: 100%;
  height: auto; }

p {
  font-family: "Inter Tight", system-ui;
  font-weight: 400px;
  font-size: 16px;
  color: #6D6E76; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0; }

h1 {
  font-size: 70px;
  line-height: 89px; }

h2 {
  font-size: 48px;
  line-height: normal; }

h3 {
  font-size: 36px;
  line-height: 48px; }

h4 {
  font-size: 25px;
  line-height: normal; }

.btn {
  padding: 12px 24px;
  background-color: #ffffff;
  border-radius: 8px;
  color: #000000;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  transition: all 0.5s ease-in-out; }

.category-section .section-title-wrapper {
  margin-bottom: 35px; }
  .category-section .section-title-wrapper .sec-title {
    color: #232536;
    position: relative;
    font-weight: 500; }
    .category-section .section-title-wrapper .sec-title:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 50px;
      height: 3px;
      background-color: #000000;
      margin-left: 40px; }
.category-section .category-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px; }
  .category-section .category-list .category-item {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F0F8;
    border-radius: 10px;
    padding: 12px; }
    .category-section .category-list .category-item .category-image {
      position: relative;
      width: 90px;
      height: 90px;
      border-radius: 50px;
      margin-bottom: 10px; }
      .category-section .category-list .category-item .category-image img {
        width: 90px;
        height: 90px;
        border-radius: 50px;
        object-fit: cover; }
    .category-section .category-list .category-item .cat-name {
      font-size: 20px;
      color: #000000;
      margin-bottom: 10px; }
    .category-section .category-list .category-item .cat-desc {
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      color: #000000;
      text-align: center; }

.testimonial-section {
  background: #232536;
  padding: 100px 0; }
  .testimonial-section .testimonial-card-wrapper {
    display: flex;
    align-items: center; }
    .testimonial-section .testimonial-card-wrapper .section-heading {
      width: 100%;
      padding-right: 70px;
      font-family: "Poppins", sans-serif;
      color: #ffffff; }
      .testimonial-section .testimonial-card-wrapper .section-heading .subtitle {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin-bottom: 12px; }
      .testimonial-section .testimonial-card-wrapper .section-heading .section-title {
        letter-spacing: -2px;
        margin-bottom: 16px; }
      .testimonial-section .testimonial-card-wrapper .section-heading .desc {
        color: #ffffff;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        line-height: 28px; }
    .testimonial-section .testimonial-card-wrapper .testimonial-card {
      position: relative;
      width: 100%;
      padding: 0 100px;
      border-left: 1px solid rgba(251, 246, 234, 0.4); }
      .testimonial-section .testimonial-card-wrapper .testimonial-card .testimonial-slider {
        max-width: 692px;
        width: 100%; }
        .testimonial-section .testimonial-card-wrapper .testimonial-card .testimonial-slider .slick-dots li button:before {
          color: #ffffff; }
      .testimonial-section .testimonial-card-wrapper .testimonial-card .visitor-review .visitor-review {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #ffffff;
        margin-bottom: 50px;
        text-align: center; }
      .testimonial-section .testimonial-card-wrapper .testimonial-card .visitor-review .visitor-profile {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .testimonial-section .testimonial-card-wrapper .testimonial-card .visitor-review .visitor-profile .avatar {
          display: flex;
          align-items: center;
          gap: 15px;
          flex-shrink: 0; }
          .testimonial-section .testimonial-card-wrapper .testimonial-card .visitor-review .visitor-profile .avatar img {
            border-radius: 50px;
            overflow: hidden; }
          .testimonial-section .testimonial-card-wrapper .testimonial-card .visitor-review .visitor-profile .avatar .visitor-info .author-name {
            font-size: 20px;
            line-height: 24px;
            color: #ffffff;
            text-transform: capitalize; }
          .testimonial-section .testimonial-card-wrapper .testimonial-card .visitor-review .visitor-profile .avatar .visitor-info .visitor-location {
            font-size: 16px;
            color: #FBF6EA;
            font-weight: 400;
            line-height: 28px; }
      .testimonial-section .testimonial-card-wrapper .testimonial-card .testimonial-btn {
        position: absolute;
        bottom: 30px;
        right: 100px;
        display: flex;
        align-items: center;
        gap: 20px; }
        .testimonial-section .testimonial-card-wrapper .testimonial-card .testimonial-btn .left-btn,
        .testimonial-section .testimonial-card-wrapper .testimonial-card .testimonial-btn .right-btn {
          width: 48px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50px;
          background-color: #ffffff;
          color: #000000;
          cursor: pointer; }
          .testimonial-section .testimonial-card-wrapper .testimonial-card .testimonial-btn .left-btn.active,
          .testimonial-section .testimonial-card-wrapper .testimonial-card .testimonial-btn .right-btn.active {
            color: #ffffff;
            background-color: #FF5959; }

body.blog .hero-section {
  background-color: #31323C;
  padding: 20px 0; }
  body.blog .hero-section .hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    body.blog .hero-section .hero-wrapper .section-content {
      max-width: 600px;
      width: 100%; }
      body.blog .hero-section .hero-wrapper .section-content .title {
        color: #ffffff;
        font-size: 70px;
        line-height: 89px;
        margin-bottom: 20px; }
      body.blog .hero-section .hero-wrapper .section-content .desc {
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 40px; }
      body.blog .hero-section .hero-wrapper .section-content .subscribe-btn {
        padding: 16px 30px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        line-height: 48px;
        background-color: #FF5959;
        border-radius: 10px; }
        body.blog .hero-section .hero-wrapper .section-content .subscribe-btn .fa-paper-plane {
          margin-left: 4px; }
    body.blog .hero-section .hero-wrapper .feature-image {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      position: relative;
      height: auto; }
      body.blog .hero-section .hero-wrapper .feature-image .image-collage img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px; }
      body.blog .hero-section .hero-wrapper .feature-image .img-1 {
        margin-top: 22px;
        margin-right: 20px;
        grid-column: 1;
        grid-row: 1 / span 2;
        z-index: 1; }
      body.blog .hero-section .hero-wrapper .feature-image .img-2 {
        grid-column: 2;
        grid-row: 1;
        z-index: 4; }
      body.blog .hero-section .hero-wrapper .feature-image .img-3 {
        margin-top: -140px;
        margin-left: -95px;
        grid-column: 2;
        grid-row: 2;
        z-index: 2; }
      body.blog .hero-section .hero-wrapper .feature-image .img-4 {
        margin-top: 78px;
        margin-left: -90px;
        grid-column: 3;
        grid-row: 1 / span 2;
        z-index: 3; }
body.blog .blog-posts-section {
  padding-top: 60px;
  padding-bottom: 100px; }
  body.blog .blog-posts-section h2 {
    color: #232536;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: -2px;
    margin-bottom: 32px; }
  body.blog .blog-posts-section .posts-grid .post-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 40px; }
    body.blog .blog-posts-section .posts-grid .post-item:first-child {
      margin-top: 0;
      padding-top: 40px;
      border-top: 1px solid rgba(109, 110, 118, 0.32); }
    body.blog .blog-posts-section .posts-grid .post-item .feature-image {
      max-width: 480px;
      width: 100%;
      height: 350px; }
      body.blog .blog-posts-section .posts-grid .post-item .feature-image img {
        height: 100%;
        object-fit: cover; }
    body.blog .blog-posts-section .posts-grid .post-item .blog-content .title {
      color: #232536;
      font-size: 30px;
      line-height: normal;
      text-transform: capitalize;
      margin-bottom: 30px;
      transition: all 0.5s ease-in-out; }
      body.blog .blog-posts-section .posts-grid .post-item .blog-content .title:hover {
        color: #dc3545;
        transition: all 0.5s ease-in-out; }
    body.blog .blog-posts-section .posts-grid .post-item .blog-content .desc {
      color: #232536;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      margin-top: 15px; }
    body.blog .blog-posts-section .posts-grid .post-item .blog-content a.read-more {
      padding: 10px 30px;
      border-radius: 5px;
      background: #FF5959;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      line-height: normal;
      margin-top: 15px;
      color: #ffffff;
      transition: all 0.5s ease-in-out; }
      body.blog .blog-posts-section .posts-grid .post-item .blog-content a.read-more:hover {
        background: #2B2C34;
        transition: all 0.5s ease-in-out; }
    body.blog .blog-posts-section .posts-grid .post-item .blog-content .writer-details {
      display: flex;
      align-items: center;
      gap: 6px; }
      body.blog .blog-posts-section .posts-grid .post-item .blog-content .writer-details .avatar img {
        width: 30px;
        height: 30px;
        border-radius: 50px;
        object-fit: cover; }
      body.blog .blog-posts-section .posts-grid .post-item .blog-content .writer-details .author-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start; }
        body.blog .blog-posts-section .posts-grid .post-item .blog-content .writer-details .author-info .author-name {
          color: #2B2C34;
          font-size: 10px;
          font-weight: 600;
          line-height: normal;
          margin-bottom: 4px; }
        body.blog .blog-posts-section .posts-grid .post-item .blog-content .writer-details .author-info .date {
          color: #232536;
          font-size: 9px;
          font-weight: 400;
          line-height: normal;
          text-transform: capitalize; }

.blog-section {
  padding-bottom: 100px; }
  .blog-section .blog-wrapper .section-heading {
    margin-bottom: 35px; }
    .blog-section .blog-wrapper .section-heading .section-title {
      position: relative;
      font-size: 25px;
      line-height: normal;
      text-transform: capitalize;
      color: #232536;
      font-weight: 500; }
      .blog-section .blog-wrapper .section-heading .section-title:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 50px;
        height: 3px;
        background-color: #000000;
        margin-left: 40px; }
  .blog-section .blog-wrapper .blogs-posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; }
    .blog-section .blog-wrapper .blogs-posts .post-item {
      background-color: #F4F0F8;
      border-radius: 12px;
      padding: 16px; }
      .blog-section .blog-wrapper .blogs-posts .post-item .post-thumbnail {
        height: 200px;
        margin-bottom: 28px; }
        .blog-section .blog-wrapper .blogs-posts .post-item .post-thumbnail img {
          height: 100%;
          object-fit: cover;
          border-radius: 12px; }
      .blog-section .blog-wrapper .blogs-posts .post-item .post-content .post-title {
        font-size: 18px;
        line-height: normal;
        text-transform: capitalize;
        color: #2B2C34;
        margin-bottom: 24px; }
      .blog-section .blog-wrapper .blogs-posts .post-item .post-content .writer-details {
        display: flex;
        align-items: center;
        gap: 12px; }
        .blog-section .blog-wrapper .blogs-posts .post-item .post-content .writer-details .avatar {
          flex-shrink: 0; }
          .blog-section .blog-wrapper .blogs-posts .post-item .post-content .writer-details .avatar img {
            object-fit: cover;
            border-radius: 50px; }
        .blog-section .blog-wrapper .blogs-posts .post-item .post-content .writer-details .author-info {
          display: flex;
          flex-direction: column;
          align-items: flex-start; }
          .blog-section .blog-wrapper .blogs-posts .post-item .post-content .writer-details .author-info .author-name {
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: #2B2C34;
            text-transform: capitalize; }

.site-footer {
  padding: 40px 50px;
  background-color: #232536; }
  .site-footer .footer-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; }
    .site-footer .footer-navigation .footer-menu .menu ul {
      display: flex;
      align-items: center;
      gap: 15px; }
      .site-footer .footer-navigation .footer-menu .menu ul li.page_item a {
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        line-height: 28px; }
  .site-footer .newsletter-section {
    margin-bottom: 30px;
    background-color: #2A2B39;
    padding: 80px 40px;
    display: flex;
    align-items: center;
    gap: 15px; }
    .site-footer .newsletter-section h2 {
      color: #FFF;
      font-size: 34px;
      line-height: 35px;
      letter-spacing: -2px; }
    .site-footer .newsletter-section form {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      gap: 15px;
      justify-content: flex-end; }
      .site-footer .newsletter-section form .email-field {
        max-width: 380px;
        width: 100%;
        height: 100%;
        padding: 12px 24px;
        color: rgba(0, 0, 0, 0.5);
        font-size: 20px;
        font-weight: 400;
        line-height: 35px; }
      .site-footer .newsletter-section form .subscribe-btn {
        height: 100%;
        border-radius: 10px;
        background: #FF5959;
        padding: 10px 20px;
        color: #FFF;
        font-size: 20px;
        font-weight: 700;
        border: none; }
  .site-footer .site-info {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .site-footer .site-info .copyright-text p {
      color: #FFF;
      font-size: 16px;
      font-weight: 600;
      line-height: 28px; }
    .site-footer .site-info .carblog-social-link {
      display: flex;
      align-items: center;
      gap: 20px; }
      .site-footer .site-info .carblog-social-link a i {
        color: #ffffff; }

#front_page .navigation {
  background-color: #232536; }
  #front_page .navigation header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #front_page .navigation header .site-branding .site-title {
      font-size: 36px;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 0; }
      #front_page .navigation header .site-branding .site-title a {
        color: #ffffff; }
    #front_page .navigation header #site-navigation {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      #front_page .navigation header #site-navigation #header-menu .page_item {
        padding: 0 21px; }
        #front_page .navigation header #site-navigation #header-menu .page_item a {
          font-weight: 500;
          color: #ffffff;
          transition: all 0.5s ease-in-out; }
          #front_page .navigation header #site-navigation #header-menu .page_item a:hover {
            text-decoration: underline;
            transition: all 0.5s ease-in-out; }
      #front_page .navigation header #site-navigation .header-btn {
        margin-left: 22px; }
        #front_page .navigation header #site-navigation .header-btn:hover {
          background-color: #787220;
          color: #ffffff;
          transition: all 0.5s ease-in-out; }

.hero-section {
  padding: 80px 0 40px 0;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important; }
  .hero-section .hero-content .title {
    margin-bottom: 24px; }
  .hero-section .hero-content .description,
  .hero-section .hero-content .title {
    color: #ffffff; }
  .hero-section .hero-content .btn {
    margin-top: 24px; }
    .hero-section .hero-content .btn:hover {
      background-color: #787220;
      color: #ffffff;
      transition: all 0.5s ease-in-out; }

.latest-trending-posts {
  margin: 100px 0; }
  .latest-trending-posts .latest-posts h3 {
    color: #232536; }
  .latest-trending-posts .latest-posts #post-content {
    margin-right: 26px; }
    .latest-trending-posts .latest-posts #post-content .post-item .thumbnail-wrapper {
      margin-top: 15px; }
      .latest-trending-posts .latest-posts #post-content .post-item .thumbnail-wrapper img {
        width: 100%; }
    .latest-trending-posts .latest-posts #post-content .post-item .writer {
      margin-top: 24px; }
      .latest-trending-posts .latest-posts #post-content .post-item .writer p,
      .latest-trending-posts .latest-posts #post-content .post-item .writer span {
        color: #4C4C4C;
        font-size: 14px;
        font-weight: 500; }
      .latest-trending-posts .latest-posts #post-content .post-item .writer .author {
        text-transform: capitalize;
        color: #FF5959;
        margin-right: 24px;
        position: relative; }
      .latest-trending-posts .latest-posts #post-content .post-item .writer .duration {
        position: relative; }
        .latest-trending-posts .latest-posts #post-content .post-item .writer .duration::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 1.5px;
          height: 12px;
          background-color: #4C4C4C;
          margin-left: -12px; }
    .latest-trending-posts .latest-posts #post-content .post-item .blog-title h3 {
      font-size: 28px;
      color: #232536;
      line-height: 40px;
      margin-top: 15px;
      transition: all 0.5s ease-in-out; }
      .latest-trending-posts .latest-posts #post-content .post-item .blog-title h3:hover {
        color: #FF5959;
        transition: all 0.5s ease-in-out; }
    .latest-trending-posts .latest-posts #post-content .post-item .short-desc p {
      margin-top: 15px;
      font-size: 16px;
      color: #6D6E76;
      line-height: 28px; }
      .latest-trending-posts .latest-posts #post-content .post-item .short-desc p a:hover {
        color: #FF5959;
        transition: all 0.5s ease-in-out; }
    .latest-trending-posts .latest-posts #post-content .post-item .short-desc .content {
      margin-bottom: 15px; }
    .latest-trending-posts .latest-posts #post-content .post-item .btn {
      background-color: #FF5959;
      color: #ffffff; }
      .latest-trending-posts .latest-posts #post-content .post-item .btn:hover {
        background-color: #787220;
        color: #ffffff;
        transition: all 0.5s ease-in-out; }
  .latest-trending-posts .trending-posts h3 {
    color: #232536; }
  .latest-trending-posts .trending-posts ul {
    margin-top: 15px; }
    .latest-trending-posts .trending-posts ul li {
      list-style: none;
      padding: 12px 20px;
      cursor: pointer; }
      .latest-trending-posts .trending-posts ul li .writer-details {
        display: flex;
        align-items: center; }
        .latest-trending-posts .trending-posts ul li .writer-details p,
        .latest-trending-posts .trending-posts ul li .writer-details span {
          color: #4C4C4C;
          font-size: 14px;
          font-weight: 500; }
        .latest-trending-posts .trending-posts ul li .writer-details .author {
          text-transform: capitalize;
          color: #FF5959;
          margin-right: 24px;
          margin-left: 5px;
          position: relative; }
        .latest-trending-posts .trending-posts ul li .writer-details .duration {
          position: relative; }
          .latest-trending-posts .trending-posts ul li .writer-details .duration::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 1.5px;
            height: 12px;
            background-color: #4C4C4C;
            margin-left: -12px; }
      .latest-trending-posts .trending-posts ul li .title {
        font-size: 20px;
        color: #232536;
        line-height: 28px;
        font-weight: 600;
        letter-spacing: -1px; }

.testimonial-section {
  margin: 100px 0; }

/*# sourceMappingURL=style.css.map */
